/* pages/follow/index.wxss */
page {
  background-color: black;
}

.container-follow {
  background-color: #000;
  padding: 10px;
  color: #fff;
}

.lyrics-container {
  height: calc( 100vh - 200px );
  /* 滚动区域的高度 */
  width: 100%;
}

.rich-text-content {
  width: 100%;
  /* rich-text 宽度设置为 100% */
  white-space: normal;
  /* 保证文本正常换行 */
}

.lyric-line {
  padding: 5px;
  font-size: 16px;
  line-height: 24px;
}

.lyric-text {
  display: block;
  color: #ccc;
}

.highlight {
  // color: #ffa500;
  /* 高亮当前歌词 */
  font-weight: bold;
  color: #fff;

  .superscript {
    position: absolute;
    bottom: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
  }

  .notext {
    width: 30px;
    height: 30px;
    background: #FFBD5A;
    border-radius: 4px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hasbgtext {
    width: 30px;
    height: 30px;
    background: #FFBD5A;
    border-radius: 4px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.nohighlight {
  color: #aaa;

  .superscript {
    display: none;
  }

  .notext {
    display: none;
  }
  .hasbgtext{
    background:none;
  }
}


.superscript {
  font-size: 12px;
  vertical-align: super;
  /* 上标效果 */
}