/* pages/follow/index.wxss */
page {
  background-color: black;
}

.container-follow {
  background-color: #000;
  padding: 10px;
  color: #fff;
}

.lyrics-container {
  height: calc(100vh - 200px);
  /* 滚动区域的高度 */
  width: 100%;
}

.rich-text-content {
  width: 100%;
  /* rich-text 宽度设置为 100% */
  white-space: normal;
  /* 保证文本正常换行 */
}

.lyric-line {
  padding: 5px;
  font-size: 16px;
  line-height: 24px;
}

.lyric-text {
  display: block;
  color: #ccc;
}

.highlight {
  // color: #ffa500;
  /* 高亮当前歌词 */
  font-weight: bold;
  color: #fff;

  .superscript {
    position: absolute;
    bottom: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
  }

  .notext {
    width: 30px;
    height: 30px;
    background: #FFBD5A;
    border-radius: 4px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hasbgtext {
    width: 30px;
    height: 30px;
    background: #FFBD5A;
    border-radius: 4px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .bgNum-1 {
    background-color: #D0373C;
  }

  .bgNum-2 {
    background-color: #3F71E0;
  }

  .bgNum-3 {
    background-color: #2992A3;
  }

  .bgNum-4 {
    background-color: #4CADCE;
  }

  .bgNum-5 {
    background-color: #D27844;
  }

  .bgNum-6 {
    background-color: #3F71E0;
  }

  .bgNum-7 {
    background-color: #03DD89;
  }
}

.nohighlight {
  color: #aaa;

  .superscript {
    display: none;
  }

  .notext {
    display: none;
  }

  .hasbgtext {
    background: none;
  }
}

.nexthighlight {
  .superscript {
    display: none;
  }

  .notext {
    width: 20px;
    height: 20px;
    border-bottom: 3px solid #FFBD5A;
  }

  .hasbgtext {
    width: 20px;
    height: 20px;
    border-bottom: 3px solid #FFBD5A;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .bgNum-1 {
    border-bottom: 3px solid #D0373C;
  }

  .bgNum-2 {
    border-bottom: 3px solid #3F71E0;
  }

  .bgNum-3 {
    border-bottom: 3px solid #2992A3;
  }

  .bgNum-4 {
    border-bottom: 3px solid #4CADCE;
  }

  .bgNum-5 {
    border-bottom: 3px solid #D27844;
  }

  .bgNum-6 {
    border-bottom: 3px solid #3F71E0;
  }

  .bgNum-7 {
    border-bottom: 3px solid #03DD89;
  }
}


.superscript {
  font-size: 12px;
  vertical-align: super;
  /* 上标效果 */
}